{% extends "base.html.twig" %}
{% block title 'Agence Lorem ipsum' %}

{% block body %}
    <div class="bg-light text-center">
    <h1>Agence Lorem ipsum</h1>
        <p>Do laborum sunt aute fugiat ipsum occaecat velit deserunt. Minim sit duis excepteur id enim. Velit ullamco consectetur ut consectetur do commodo amet cillum irure excepteur dolore amet aute. Reprehenderit duis id cillum nisi esse exercitation est laboris ex ipsum cillum dolore fugiat tempor. Enim excepteur est anim enim officia incididunt ex ipsum sit elit culpa est non minim.</p>
        
    </div>

{% endblock %}
